auto {{ item.iface }}

{% if item.value.ip6_address is defined and item.value.ip6_address|length %}
iface {{ item.iface }} inet6 static
	address {{ item.value.ip6_address }}

	# initialize wireguard
	pre-up ip link add $IFACE type wireguard
	pre-up wg setconf $IFACE /etc/wireguard/$IFACE.conf
	post-down ip link del $IFACE

	# Enable Multicast for Babel
	pre-up ip link set dev $IFACE multicast on

	# iif rules
	post-up ip -6 rule add iif $IFACE prio 200 table fff
	pre-down ip -6 rule add iif $IFACE prio 200 table fff

{% endif %}

{% if item.value.ip4_address is defined and item.value.ip4_address|length %}
iface {{ item.iface }} inet static
	address {{ item.value.ip4_address }}
	scope link

	# iif rules
	post-up ip -4 rule add iif $IFACE prio 200 table fff
	pre-down ip -4 rule add iif $IFACE prio 200 table fff

        {% if item.value.ip4_network is defined and item.value.ip4_network|length %}
        up ip route replace {{ item.value.ip4_network }} dev $IFACE proto static table fff
        down ip route del {{ item.value.ip4_network }} dev $IFACE proto static table fff
        {% endif %}
{% endif %}
