[Unit]
Description=babeld Routing Daemon
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/babeld
ExecStart=/usr/local/bin/babeld $DAEMON_ARGS $INTERFACES
Restart=on-abort

[Install]
WantedBy=multi-user.target
